@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-teal-green: #12a594;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.radix-themes {
  --default-font-family: var(--font-inter);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.link {
  @apply text-teal-green hover:underline;
}
